google-adk>=1.28.0
google-cloud-aiplatform[agent-engines]>=1.146.0
jinja2
markdown
pymupdf
nltk
beautifulsoup4
lxml
gcsfs
google-cloud-logging
opentelemetry-instrumentation-google-genai
opentelemetry-sdk
opentelemetry-exporter-gcp-trace
opentelemetry-exporter-gcp-logging
python-dotenv
